EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_API_PORT=3000
EXPO_PUBLIC_API_TIMEOUT_MS=10000
EXPO_PUBLIC_SUPABASE_URL=https://sglpwjmdrvapurllisdn.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_X-jGKTIsVFFc2bZedtdaKA_V_vSgRML
